<div class="grid grid-cols-2 gap-4 h-screen">
    <div class="sky bg-cover min-h-screen p-20 overflow-hidden h-full">
        <div class="backdrop w-[420px] py-4 rounded-2xl mx-auto">
            <app-one-page-portfolio></app-one-page-portfolio>
        </div>
    </div>
    <div class="p-8 h-full overflow-auto">
        <img class="mx-auto mb-24" height="32" src="/assets/img/logo.svg" alt="AllMyWorks">
        <div class="mx-auto px-16">
            <app-progress-bar [currentStep]="currentStep" [totalSteps]="totalStep"></app-progress-bar>
            <div *ngIf="currentStep == 1">
                <h1 class="text-5xl text-center mt-8">Let’s start creating your page !</h1>
                <app-new-user></app-new-user>
            </div>
            <div *ngIf="currentStep == 2">
                <h1 class="text-5xl text-center mt-8">In the infinite web, where can we find you ?</h1>
                <app-socials></app-socials>
            </div>
            <div *ngIf="currentStep == 3">
                <h1 class="text-5xl text-center mt-8">What is your current project ?</h1>
                <app-new-project></app-new-project>
            </div>
            <app-button [size]="'M'" [style]="'Primary'" class="w-full px-6 mx-auto" (onClick)="nextStep()">
                Next step
            </app-button>
        </div>
    </div>
</div>