<button
    [ngClass]="{
        'min-w-[52px] min-h-[52px] text-[2rem] pt-[4px]': size === 'Icon',
        'p-3 w-full': size !== 'Icon',
        'text-3xl': size === 'M',
        'text-6xl': size === 'L',
        'gradient-mid': style === 'Primary' && (isValid$ | async) === true,
        'gradient-quart border-none text-gray-500': style === 'Primary' && (isValid$ | async) === false,
        'bg-transparent': style === 'Secondary'
    }"
    class="border-white border-solid rounded-md border-[1px] text-white nexa"
    (click)="btnClick()"
    [disabled]="!(isValid$ | async)"
>
    <ng-content></ng-content>
</button>