<form [formGroup]="signInForm">
    <h1 class="text-5xl text-center mt-8">Nice to see you again, captain ! 🧑🏻‍🚀</h1>

    <div class="p-6 mb-4">
        <div>
            <label class="text-white block">Your email</label>
            <input type="email" formControlName="email" placeholder="john@doe.co" class="w-full bg-gray-800 text-white rounded-md p-2 placeholder-gray-300">
        </div>
        <div class="mt-6">
            <label class="text-white block mb-1">Your password</label>
            <input type="password" formControlName="password" class="w-full bg-gray-800 text-white rounded-md p-2 placeholder-gray-300">
        </div>
    </div>

    <app-button
      [isValid]="this.signInForm.valid"
      [size]="'M'"
      [style]="'Primary'"
    >
      Sign in
    </app-button>
    <p class="text-center">You don't have an account ? <a routerLink="/auth/sign-up">Click here</a> to create one, it's fast and free. 🚀</p>
</form>