@use '../../ui/colors';

input[type='file']::file-selector-button {
    display: none;
}

.bg {
    background-image: url('/assets/img/rounded-bg.png');
    background-size: cover;
}

.gradient-border {
    position: relative;
    box-sizing: border-box;
    $border: 1px;
    color: #FFF;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border - 1; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: colors.$primary-gradient;
    }
    &__active-bg {
      background: rgb(13 9 27 / 75%);
    }
}