@use '../../shared/ui/colors';

.bg {
    background-color: colors.$dark;
}

.sky {
    background: url('/assets/img/bg.jpeg');
}

.backdrop {
    background: rgba(13, 9, 27, 0.5);
    backdrop-filter: blur(5px);
}