<form [formGroup]="resetForm" (ngSubmit)="confirmNewPW()" *ngIf="!pwIsReset">
    <h1 class="text-5xl text-center mt-8">It's time to reset your password !</h1>

    <div class="p-6 mb-4">
        <div class="mb-4">
            <label class="text-white block">Your new password</label>
            <input type="password" formControlName="password" class="w-full bg-gray-800 text-white rounded-md p-2 placeholder-gray-300">
            <div *ngIf="resetForm.get('password')?.errors?.['invalidPassword']">The password must contain at least one upper case letter, one lower case letter, one number, one special character and be at least 8 characters long.</div>
        </div>
        <div>
            <label class="text-white block">Confirm it</label>
            <input type="password" formControlName="confirmPw" class="w-full bg-gray-800 text-white rounded-md p-2 placeholder-gray-300">
            <div *ngIf="resetForm.errors?.['notSame']">The passwords do not match.</div>
        </div>
    </div>

    <app-button
      [isValid]="this.resetForm.valid"
      [size]="'M'"
      [style]="'Primary'"
    >
      Reset my password
    </app-button>
    <p class="text-center mt-4"><a class="underline" [routerLink]="['/auth/sign-in']">Cancel and sign in with your current password</a></p>
</form>

<div *ngIf="pwIsReset">
  <h1 class="text-5xl text-center mt-8">Your new password is ready, captain ! 🧑🏻‍🚀</h1>
  <p class="mt-4"><a class="underline" [routerLink]="['/auth/sign-in']">Click here</a> to sign in with your account.</p>
</div>