@use '../../../../shared/ui/colors';

.gradient-border {
    position: relative;
    box-sizing: border-box;
    $border: 1px;
    color: #FFF;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border - 1; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: colors.$primary-gradient;
    }
    &__active-bg {
      background: rgb(13 9 27 / 75%);
    }
    &__building-bg {
      background: #0d091b;
    }
}

/* Styles pour l'aperçu de l'élément lors du glissement */
.cdk-drag-preview {
  opacity: 0.8; /* Légèrement transparent pendant le glissement */
}

/* Styles pour l'espace réservé où l'élément sera déposé */
.cdk-drag-placeholder {
  opacity: 0; /* Complètement transparent ou ajustez selon vos besoins */
}

/* Styles pour l'animation de glissement */
.cdk-drag-animating {
  transition: transform 250ms ease-in-out; /* Animation fluide pour le glissement */
}

/* Styles pour les éléments glissables */
[cdkDrag] {
  cursor: grab; /* Curseur en forme de main pour indiquer la possibilité de glisser */
}

/* Styles lorsque l'élément est en train d'être glissé */
[cdkDrag]:active {
  cursor: grabbing; /* Curseur en forme de main fermée pendant le glissement */
}
