<form [formGroup]="forgotForm">
    <h1 class="text-5xl text-center mt-8">Forgot your password? It happens to the best of us!</h1>
    <p>Just give us your email and we'll send you a link to reinitialize it !</p>

    <div class="p-6 mb-4">
        <div>
            <label class="text-white block">Your email</label>
            <input type="email" formControlName="email" placeholder="john@doe.co" class="w-full bg-gray-800 text-white rounded-md p-2 placeholder-gray-300">
        </div>
    </div>

    <app-button
      [isValid]="this.forgotForm.valid"
      [size]="'M'"
      [style]="'Primary'"
    >
      Reset my password
    </app-button>
</form>