<form [formGroup]="forgotForm" (ngSubmit)="forget()" *ngIf="!mailIsSent">
    <h1 class="text-5xl text-center mt-8">Forgot your password? It happens to the best of us!</h1>
    <p>Just give us your email and we'll send you a link to reinitialize it !</p>

    <div class="p-6 mb-4">
        <div>
            <label class="text-white block">Your email</label>
            <input type="email" formControlName="email" placeholder="john@doe.co" class="w-full bg-gray-800 text-white rounded-md p-2 placeholder-gray-300">
        </div>
    </div>

    <app-button
      [isValid]="this.forgotForm.valid"
      [size]="'M'"
      [style]="'Primary'"
    >
      Reset my password
    </app-button>
    <a class="block w-full text-center underline mt-4" [routerLink]="['/auth/sign-in']">It's ok, I remember it !</a>
</form>

<div *ngIf="mailIsSent">
  <h1 class="text-5xl text-center mt-8">Check your mails, captain !</h1>
  <p class="mt-4">If an account associated to the email {{forgotForm.get('email')?.value}} exists, a mail was sent with a link for resetting your password, don't forget to check your SPAMS if you don't find it.</p>
</div>